<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>D3 Resume</title>
    <link href='/css/style.css' rel='stylesheet' />
  </head>
  <body>
    <header>
      <h1>Efren Aguirre <span id="email">skeptoid@gmail.com</span></h1>
      <ul>
        <li><a href="http://harmonize.herokuapp.com">Harmonize</a> /</li>
        <li><a href="http://www.bluebottlecoffee.com/">Blue Bottle</a> /</li>
        <li><a href="https://quarterly.co/">Quarterly</a> /</li>
        <li>
          <a href="http://nys-constitution.herokuapp.com">NYS Constitution</a> /
        </li>
        <li><a href="http://www.mastamindzllc.com/">MastaMindz</a> /</li>
        <li><a href="https://github.com/countxyz">GitHub</a></li>
      </ul>
    </header>
    <script src='/js/d3.js'></script>
    <script src='/js/d3_resume.js'></script>
    <footer>
      <p>
        Copyright © 2014 Efren Aguirre <skeptoid@gmail.com> - Do What the Fuck
        You Want to Public License. See <a href="http://www.wtfpl.net">wtfpl</a>
        for more details
      </p>
    </footer>
  </body>
</html>
