.node { cursor: pointer; }

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text { font: 10px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

div.tooltip {
  position: absolute;
  max-width: 250px;
  max-height: 200px;
  padding: 5px;
  font: 12px helvetica;
  letter-spacing: 1px;
  line-height: 1.1;
  background: #CEE3F8;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 4px 6px 8px rgba(0,0,0,.75);
  pointer-events: none;
}
