.node { cursor: pointer; }

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text { font: 10px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

div.tooltip {
  position: absolute;
  max-width: 300px;
  max-height: 200px;
  padding: 10px;
  font: 12px helvetica;
  letter-spacing: 1px;
  line-height: 1.2;
  background: #CEE3F8;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 4px 6px 8px rgba(0,0,0,.75);
  pointer-events: none;
}

span { font-weight: bold; }

header {
  padding-right: 100px;
  border-bottom: 1px solid black;
}

h1 {
  text-align: right;
  font-family: Arial, Helvetica;
}

ul li a { text-decoration: none; }

ul li { display: inline; }

a { color: #00A1CB; }

ul {
  text-align: right;
  list-style: none;
}